{% extends 'base.html' %}

{% block body %}
    <h2 class="text-center"></h2>
    <form action="/articles/create/" method="POST">
        {% csrf_token %}
        <label for="title">Title</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="content">Content</label><br>
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <input type="submit" value="글쓰기">
    </form>
    <a href="/articles/" tartget="_self">[메인 페이지]</a>
{% endblock %}